{{>top}}


<div>
    <h2>{{ title }}</h2>
    {{>header}}
    <div>
        <div id="weatherPage">
            <form action="" id="form">
                <input id="address" type="text" placeholder="Enter Location">
                <button>Search</button>
            </form>
            <p id="message-One"></p>
            <p id="message-Two"></p>
        </div>
        <p>Created By: {{ author }}</p>
    </div>
    
</div>



{{>bottom}}